/* GENERAL */

h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 30px;
    font-family: "lato", "sans-serif";
}

h2{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

.padding-section{
    padding:120px 0;
}

.grey-section{
    background-color: rgb(245,245,245);
}

.divider{
    width: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #bd9f86;
}

/* FIN GENERAL */

/* HEADER */
header{
    min-height: 100vh;
}

.hero{
    margin-top:15vh;  
    text-align: center;
}

.hero h1{
    color: #777;
}   

/*Animacion svg */

.hero svg{
    height: 38vh;
    margin-top: 10vh;
    transition: all 0.8s;
}

.hero svg.terminado{
    transform: rotate(-360deg) scale(1.1) translateY(10px);
}

.hero svg.terminado .g{
    fill:yellow;
}

.hero svg *{
    fill:none;
    stroke: #000000;
    stroke-width: 1;
    transition: fill 2s;
}
/* Fin animacion svg */
/* FIN HEADER */


/* SECTION INTRO*/
#intro-nosotros{
    box-shadow: inset 0px 10px 20px rgba(0,0,0,0.05);
}

#intro-nosotros h2{
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-family: "lato", "sans-serif";
}

#intro-nosotros p{
    text-align: justify;
    padding-right: 50px;
    color: #777;
}

#carruselClientes2{
    margin-top: 40px;
    margin-right: 10px;
    margin-left:10px;
}

#carruselClientes2 img{
    transform: scale(0.8);
    filter: grayscale(90%);
    transition: all 0.5s ease-in;
}

#carruselClientes2 img:hover{
    transform: scale(1);
    filter: grayscale(0%);
}

#videoPresentacion{
    width: 100%;
}

#intro-nosotros .video-controls{
    text-align: right;

}

#intro-nosotros .video-controls button{
    border: none;
    background: none;   
}

#intro-nosotros .video-controls button:active,
#intro-nosotros .video-controls button:focus{
    outline:none;
}

#intro-nosotros .video-controls button i{
    color:#777;
    font-size: 1.5rem;   
}

#intro-nosotros .video-container-inner{
    position: relative;
}

#iconoPlayVid{
    position: absolute;
    color: #444;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

/* FIN SECTION INTRO*/


/*SECTION PROCESOS*/

.subtitle{
    margin-bottom: 80px;
    font-family: "lato", "sans-serif";
    font-size: 16px;
    font-style: italic;
    color: #333;
}

.subtitle i{
    margin-right: 10px;
    font-size: 1.5rem;
}

#process .reveal{
    opacity: 0;
    transition-duration: 1.2s;
    transform: translateX(100px);
}

#process .reveal.visible{
    opacity: 1;    
    transform: translateX(0px);
}

.marginsY{
    margin: 100px 0;
}

.facts .numero{
    font-family: "lato", "sans-serif";
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #edefeb;
}

.facts article{
    padding-left: 60px;
    color: #999;
    transform: translateY(-63px)
}

.facts article h3 {
    font-size: 1.2rem;
}

/*FIN SECTION PROCESOS*/

/*SECTION SKILLS*/
#skills{
    padding: 50px 0;
    /* background-image: url(../img/backgrounds/bg-skills.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background-attachment: fixed; */
}

#skills .elemento{
    padding: 20px;
    text-align: center;
    font-family: "lato", "sans-serif";
    font-weight: 300;
}

#skills .elemento article{
    padding: 20px;
    border: 1px solid #fff;
    background: rgba(255,255,255,0.2);
}

#skills i{
    margin-bottom: 20px;
    font-size: 3rem;
    color: #fff;
}

#skills .elemento h5{
    text-transform: lowercase;
    font-family: "lato", "sans-serif";
    color: #fff;
    font-style: italic;
}

#skills .numero{
    font-family: "lato", "sans-serif";
    margin-bottom: 10px;
    font-size: 42px;
    color: #fff;
    font-weight: 500;
}



/*FIN SECTION SKILLS*/


/*CORRECION MENU RESPONSIVE */
@media screen and (max-width: 767px){
    .navbar-brand{
        align-self: start;
    }

    nav > div{
        text-align: right;
    }

    #navbarNav {
        margin-top: 20px;
        padding-right:15px; 
    }
};

/* FIN CORRECION MENU RESPONSIVE */

